{% extends 'base.html' %}
{% load static %}
{% block title %} About Us {% endblock %}

{% block content %}
{#        <div class="container-fluid">#}
{#            <div class="row">#}
{#                <div class="col-md-6 offset-md-3">#}
{#                    <img src="{% static 'images/car repairs.jpg' %}" alt="django">#}
{#                </div>#}
{#            </div>#}
{#        </div>#}

    <!--##########################################################################################################-->


{% endblock %}